<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
    <link rel="stylesheet" th:href="@{/css/home_style.css}">
</head>
<body>
<div class="bg">
    <div class="img1">
        <img th:src="@{/img/img1.png}"/>
    </div>
    <div class="img2">
        <img th:src="@{/img/img2.png}"/>
    </div>
    <div class="img3">
        <img th:src="@{/img/img3.png}"/>
    </div>
    <div class="img4">
        <img th:src="@{/img/img2.png}"/>
    </div>
    <div class="img5">
        <img th:src="@{/img/img3.png}"/>
    </div>
</div>
<header>

    <div class="logo">
        <img th:src="@{/img/logo.png}" th:height="40px"/>
    </div>

    <div class="menu">
        <ul>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
        </ul>
    </div>

    <div class="contact">
        <button value=""></button>
    </div>
</header>

<section>
    <div class="info-container">
        <div class="info">
            <h2></h2>
        </div>
        <div class="readmore-button">
            <button></button>
        </div>
    </div>

    <div class="image-container">
        <img src=""/>
    </div>
</section>

<footer>
    <div class="social-media">
        <ul>
            <li><img src=""/></li>
            <li><img src=""/></li>
            <li><img src=""/></li>
            <li><img src=""/></li>
        </ul>
    </div>
    <div class="search-button">
        <button></button>
    </div>
</footer>

</body>
</html>